# better code stats eval on github
textmate_bundle/* linguist-vendored
editor/* linguist-vendored
build/* linguist-vendored
textmate_bundle linguist-vendored
editor linguist-vendored
build linguist-vendored
