<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Ben</string>
	<key>description</key>
	<string>Glaemscribe syntax highlighting for TextMate.</string>
	<key>name</key>
	<string>GlaeML</string>
	<key>uuid</key>
	<string>5E7A2AEA-105D-4366-86FA-B18E5F0D3114</string>
</dict>
</plist>
