
@font-face {
    font-family: 'SaratiEldamarRTLB Glaemscrafu';
    src: url('sarati-eldamar-rtlb-glaemscrafu.eot');
    src: url('sarati-eldamar-rtlb-glaemscrafu.eot?#iefix') format('embedded-opentype'),
         url('sarati-eldamar-rtlb-glaemscrafu.woff') format('woff'),
         url('sarati-eldamar-rtlb-glaemscrafu.ttf') format('truetype'),
         url('sarati-eldamar-rtlb-glaemscrafu.svg#sarati_eldamar_rtl_bar_glaeRg') format('svg');
    font-weight: normal;
    font-style: normal;


}