
@font-face {
    font-family: 'TengwarAnnatarGlaemscrafuItalic';
    src: url('tengwar-annatar-glaemscrafu-italic.eot');
    src: url('tengwar-annatar-glaemscrafu-italic.eot?#iefix') format('embedded-opentype'),
         url('tengwar-annatar-glaemscrafu-italic.woff') format('woff'),
         url('tengwar-annatar-glaemscrafu-italic.ttf') format('truetype'),
         url('tengwar-annatar-glaemscrafu-italic.svg#tengwar_annatar_glaemscrafuIt') format('svg');
    font-weight: normal;
    font-style: normal;
}