\**

Glǽmscribe (also written Glaemscribe) is a software dedicated to
the transcription of texts between writing systems, and more 
specifically dedicated to the transcription of J.R.R. Tolkien's 
invented languages to some of his devised writing systems.

Copyright (C) 2015 Benjamin Babut (Talagan).

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

**\

\version 0.2.0

\beg changelog
  \entry "0.2.0" "Added tehtar characters."
\end

\char 20 SPACE
\char 21 CIRTH_11
\char 22 CIRTH_EREB_3
\char 23 CIRTH_13
\char 24 CIRTH_14
\char 25 CIRTH_15
\char 26 CIRTH_EREB_4
\char 27 ?
\char 28 CIRTH_EREB_6
\char 29 CIRTH_EREB_7
\char 2a CIRTH_EREB_5
\char 2b CIRTH_NUMERAL_4
\char 2c CIRTH_53
\char 2d ?
\char 2e CIRTH_54
\char 2f CIRTH_55
\char 30 CIRTH_10
\char 31 CIRTH_1
\char 32 CIRTH_2
\char 33 CIRTH_3
\char 34 CIRTH_4
\char 35 CIRTH_5
\char 36 CIRTH_6
\char 37 CIRTH_7
\char 38 CIRTH_8
\char 39 CIRTH_9
\char 3a CIRTH_EREB_2
\char 3b CIRTH_40
\char 3c CIRTH_52_ALT
\char 3d ?
\char 3e CIRTH_55_ALT
\char 3f CIRTH_56_ALT
\char 40 CIRTH_12
\char 41 CIRTH_41
\char 42 CIRTH_60
\char 43 CIRTH_58
\char 44 CIRTH_43
\char 45 CIRTH_28
\char 46 CIRTH_44
\char 47 CIRTH_45
\char 48 ?
\char 49 CIRTH_PUNCT_MID_DOT
\char 4a CIRTH_38_ALT
\char 4b CIRTH_EREB_1
\char 4c CIRTH_45_ALT
\char 4d CIRTH_51_ALT
\char 4e CIRTH_SPACE
\char 4f CIRTH_PUNCT_TWO_DOTS
\char 50 CIRTH_PUNCT_THREE_DOTS
\char 51 CIRTH_26
\char 52 CIRTH_29
\char 53 CIRTH_42
\char 54 CIRTH_30
\char 55 CIRTH_PUNCT_STAR
\char 56 CIRTH_59
\char 57 CIRTH_27
\char 58 CIRTH_57
\char 59 ?
\char 5a CIRTH_56
\char 5b ?
\char 5c CIRTH_PUNCT_DOT
\char 5d ?
\char 5e ?
\char 5f ?
\char 60 CIRTH_SPACE_BIG
\char 61 CIRTH_31
\char 62 CIRTH_50
\char 63 CIRTH_48
\char 64 CIRTH_33
\char 65 CIRTH_18
\char 66 CIRTH_34
\char 67 CIRTH_35
\char 68 CIRTH_36
\char 69 CIRTH_23
\char 6a CIRTH_37
\char 6b CIRTH_38
\char 6c CIRTH_39
\char 6d CIRTH_52
\char 6e CIRTH_51
\char 6f CIRTH_24
\char 70 CIRTH_25
\char 71 CIRTH_16
\char 72 CIRTH_19
\char 73 CIRTH_32
\char 74 CIRTH_20
\char 75 CIRTH_22
\char 76 CIRTH_49
\char 77 CIRTH_17
\char 78 CIRTH_47
\char 79 CIRTH_21
\char 7a CIRTH_46
\char 7b CIRTH_PUNCT_THREE_DOTS_L
\char 7c CIRTH_PUNCT_DOUBLE_VBAR
\char 7d CIRTH_PUNCT_FOUR_DOTS
\char 7e ?
\char 80 ?
\char a0 ?
\char a4 ?
\char a7 ?
\char a9 ?
\char ab ?
\char ae ?
\char b6 ?
\char bb ?
\char bc ?
\char bd ?
\char be ?
\char bf ?
\char c0 ?
\char c1 ?
\char c2 ?
\char c3 ?
\char c4 ?
\char c5 ?
\char c6 ?
\char c7 ?
\char c8 TEHTA_CIRCUM_XS
\char c9 TEHTA_CIRCUM_S
\char ca TEHTA_CIRCUM_L
\char cb TEHTA_CIRCUM_XL
\char cc TEHTA_UNDERLINE_XS
\char cd TEHTA_UNDERLINE_S
\char ce TEHTA_UNDERLINE_L
\char cf TEHTA_UNDERLINE_XL
\char d0 TEHTA_SUB_DOT_XS
\char d1 TEHTA_SUB_DOT_S
\char d2 TEHTA_SUB_DOT_L
\char d3 TEHTA_SUB_DOT_XL
\char d4 ?
\char d5 ?
\char d6 ?
\char d7 ?
\char d8 ?
\char d9 ?
\char da ?
\char db ?

\** 
  The EXT_ chars below are present in the Erebor fonts, but I cannot 
  identify their origin. So they should probably be used with care in modes 
**\

\char dc EXT_CIRTH_1_REV
\char dd EXT_CIRTH_2_REV
\char de EXT_CIRTH_3_REV
\char df EXT_CIRTH_4_REV
\char e0 EXT_CIRTH_8_REV
\char e1 EXT_CIRTH_9_REV
\char e2 EXT_CIRTH_10_REV
\char e3 EXT_CIRTH_11_REV
\char e4 EXT_CIRTH_12_REV
\char e5 EXT_CIRTH_12_DOUBLE_REV
\char e6 EXT_CIRTH_12_DOUBLE
\char e7 EXT_CIRTH_23_REV
\char e8 ?
\char e9 EXT_CIRTH_28_MIRROR
\char ea EXT_CIRTH_38_ALT_REV
\char eb ?
\char ec ?
\char ed ?
\char ee ?
\char ef ?
\char f0 EXT_CIRTH_50_REV
\char f1 ?
\char f2 ?
\char f3 EXT_CIRTH_52_REV
\char f4 EXT_CIRTH_60_REV
\char f5 ?
\char f6 EXT_CIRTH_4_DOTTED
\char f7 EXT_CIRTH_38_DOTTED
\char f8 EXT_CIRTH_42_DOTTED
\char f9 ?
\char fa EXT_CIRTH_43_DOTTED
\char fb EXT_CIRTH_48_DOTTED
\char fc EXT_CIRTH_50_REV_DOTTED
\char fd ?
\char fe ?
\char ff ?
\char 2018 ?
\char 2022 ?
\char 2026 ?
\char 2039 ?
\char 203a ?
\char 2219 ?
\char 25fc ?


\beg virtual TEHTA_CIRCUM
  \beg class TEHTA_CIRCUM_XS
    CIRTH_39
    CIRTH_55_ALT
    CIRTH_56
    CIRTH_56_ALT
    CIRTH_59
    CIRTH_EREB_3
  \end
  \beg class TEHTA_CIRCUM_S
    CIRTH_31
    CIRTH_32
    CIRTH_55
  \end
  \beg class TEHTA_CIRCUM_L
    CIRTH_1
    CIRTH_2
    CIRTH_3
    CIRTH_4
    CIRTH_5
    CIRTH_6
    CIRTH_7
    CIRTH_8
    CIRTH_9
    CIRTH_10
    CIRTH_11
    CIRTH_12
    CIRTH_13
    CIRTH_14
    CIRTH_15
    CIRTH_16
    CIRTH_17
    CIRTH_18
    CIRTH_19
    CIRTH_20
    CIRTH_21
    CIRTH_22
    CIRTH_23
    CIRTH_24
    CIRTH_25
    CIRTH_26
    CIRTH_28
    CIRTH_29
    CIRTH_30
    CIRTH_33
    CIRTH_34
    CIRTH_35
    CIRTH_36
    CIRTH_37
    CIRTH_38
    CIRTH_38_ALT
    CIRTH_40
    CIRTH_41
    CIRTH_42
    CIRTH_43
    CIRTH_44
    CIRTH_45
    CIRTH_45_ALT
    CIRTH_46
    CIRTH_47
    CIRTH_48
    CIRTH_49
    CIRTH_50
    CIRTH_52
    CIRTH_52_ALT
    CIRTH_53
    CIRTH_54
    CIRTH_57
    CIRTH_58
    CIRTH_60
    CIRTH_EREB_1
    CIRTH_EREB_4
    CIRTH_EREB_5
    CIRTH_EREB_6
    CIRTH_EREB_7
    EXT_CIRTH_10_REV
    EXT_CIRTH_11_REV
    EXT_CIRTH_12_DOUBLE
    EXT_CIRTH_12_DOUBLE_REV
    EXT_CIRTH_12_REV
    EXT_CIRTH_1_REV
    EXT_CIRTH_23_REV
    EXT_CIRTH_28_MIRROR
    EXT_CIRTH_2_REV
    EXT_CIRTH_38_ALT_REV
    EXT_CIRTH_38_DOTTED
    EXT_CIRTH_3_REV
    EXT_CIRTH_42_DOTTED
    EXT_CIRTH_43_DOTTED
    EXT_CIRTH_48_DOTTED
    EXT_CIRTH_4_DOTTED
    EXT_CIRTH_4_REV
    EXT_CIRTH_50_REV
    EXT_CIRTH_50_REV_DOTTED
    EXT_CIRTH_52_REV
    EXT_CIRTH_60_REV
    EXT_CIRTH_8_REV
    EXT_CIRTH_9_REV
  \end
  \beg class TEHTA_CIRCUM_XL
    CIRTH_27
    CIRTH_51
    CIRTH_51_ALT
    CIRTH_EREB_2
    CIRTH_NUMERAL_4
  \end
\end

\beg virtual TEHTA_UNDERLINE
  \beg class TEHTA_UNDERLINE_XS
    CIRTH_39
    CIRTH_55_ALT
    CIRTH_56
    CIRTH_56_ALT
    CIRTH_59
    CIRTH_EREB_3
  \end
  \beg class TEHTA_UNDERLINE_S
    CIRTH_31
    CIRTH_32
    CIRTH_55
  \end
  \beg class TEHTA_UNDERLINE_L
    CIRTH_1
    CIRTH_2
    CIRTH_3
    CIRTH_4
    CIRTH_5
    CIRTH_6
    CIRTH_7
    CIRTH_8
    CIRTH_9
    CIRTH_10
    CIRTH_11
    CIRTH_12
    CIRTH_13
    CIRTH_14
    CIRTH_15
    CIRTH_16
    CIRTH_17
    CIRTH_18
    CIRTH_19
    CIRTH_20
    CIRTH_21
    CIRTH_22
    CIRTH_23
    CIRTH_24
    CIRTH_25
    CIRTH_26
    CIRTH_28
    CIRTH_29
    CIRTH_30
    CIRTH_33
    CIRTH_34
    CIRTH_35
    CIRTH_36
    CIRTH_37
    CIRTH_38
    CIRTH_38_ALT
    CIRTH_40
    CIRTH_41
    CIRTH_42
    CIRTH_43
    CIRTH_44
    CIRTH_45
    CIRTH_45_ALT
    CIRTH_46
    CIRTH_47
    CIRTH_48
    CIRTH_49
    CIRTH_50
    CIRTH_52
    CIRTH_52_ALT
    CIRTH_53
    CIRTH_54
    CIRTH_57
    CIRTH_58
    CIRTH_60
    CIRTH_EREB_1
    CIRTH_EREB_4
    CIRTH_EREB_5
    CIRTH_EREB_6
    CIRTH_EREB_7
    EXT_CIRTH_10_REV
    EXT_CIRTH_11_REV
    EXT_CIRTH_12_DOUBLE
    EXT_CIRTH_12_DOUBLE_REV
    EXT_CIRTH_12_REV
    EXT_CIRTH_1_REV
    EXT_CIRTH_23_REV
    EXT_CIRTH_28_MIRROR
    EXT_CIRTH_2_REV
    EXT_CIRTH_38_ALT_REV
    EXT_CIRTH_38_DOTTED
    EXT_CIRTH_3_REV
    EXT_CIRTH_42_DOTTED
    EXT_CIRTH_43_DOTTED
    EXT_CIRTH_48_DOTTED
    EXT_CIRTH_4_DOTTED
    EXT_CIRTH_4_REV
    EXT_CIRTH_50_REV
    EXT_CIRTH_50_REV_DOTTED
    EXT_CIRTH_52_REV
    EXT_CIRTH_60_REV
    EXT_CIRTH_8_REV
    EXT_CIRTH_9_REV
  \end
  \beg class TEHTA_UNDERLINE_XL
    CIRTH_27
    CIRTH_51
    CIRTH_51_ALT
    CIRTH_EREB_2
    CIRTH_NUMERAL_4
  \end
\end

\beg virtual TEHTA_SUB_DOT
  \beg class TEHTA_SUB_DOT_XS
    CIRTH_39
    CIRTH_55_ALT
    CIRTH_56
    CIRTH_56_ALT
    CIRTH_59
    CIRTH_EREB_3
  \end
  \beg class TEHTA_SUB_DOT_S
    CIRTH_31
    CIRTH_32
    CIRTH_55
    EXT_CIRTH_3_REV
    EXT_CIRTH_4_DOTTED
    EXT_CIRTH_4_REV
  \end
  \beg class TEHTA_SUB_DOT_L
    CIRTH_1
    CIRTH_2
    CIRTH_3
    CIRTH_4
    CIRTH_5
    CIRTH_6
    CIRTH_7
    CIRTH_8
    CIRTH_9
    CIRTH_10
    CIRTH_11
    CIRTH_12
    CIRTH_13
    CIRTH_14
    CIRTH_15
    CIRTH_16
    CIRTH_17
    CIRTH_18
    CIRTH_19
    CIRTH_20
    CIRTH_21
    CIRTH_22
    CIRTH_23
    CIRTH_24
    CIRTH_25
    CIRTH_26
    CIRTH_28
    CIRTH_29
    CIRTH_30
    CIRTH_33
    CIRTH_34
    CIRTH_35
    CIRTH_36
    CIRTH_37
    CIRTH_38
    CIRTH_38_ALT
    CIRTH_40
    CIRTH_41
    CIRTH_42
    CIRTH_43
    CIRTH_44
    CIRTH_45
    CIRTH_45_ALT
    CIRTH_46
    CIRTH_47
    CIRTH_48
    CIRTH_49
    CIRTH_50
    CIRTH_52
    CIRTH_52_ALT
    CIRTH_53
    CIRTH_54
    CIRTH_57
    CIRTH_58
    CIRTH_60
    CIRTH_EREB_1
    CIRTH_EREB_4
    CIRTH_EREB_5
    CIRTH_EREB_6
    CIRTH_EREB_7
    EXT_CIRTH_10_REV
    EXT_CIRTH_11_REV
    EXT_CIRTH_12_DOUBLE
    EXT_CIRTH_12_DOUBLE_REV
    EXT_CIRTH_12_REV
    EXT_CIRTH_1_REV
    EXT_CIRTH_23_REV
    EXT_CIRTH_28_MIRROR
    EXT_CIRTH_2_REV
    EXT_CIRTH_38_ALT_REV
    EXT_CIRTH_38_DOTTED
    EXT_CIRTH_42_DOTTED
    EXT_CIRTH_43_DOTTED
    EXT_CIRTH_48_DOTTED
    EXT_CIRTH_50_REV
    EXT_CIRTH_50_REV_DOTTED
    EXT_CIRTH_52_REV
    EXT_CIRTH_60_REV
    EXT_CIRTH_8_REV
    EXT_CIRTH_9_REV
  \end
  \beg class TEHTA_SUB_DOT_XL
    CIRTH_27
    CIRTH_51
    CIRTH_51_ALT
    CIRTH_EREB_2
    CIRTH_NUMERAL_4
  \end
\end
