\**

Glǽmscribe (also written Glaemscribe) is a software dedicated to
the transcription of texts between writing systems, and more 
specifically dedicated to the transcription of J.R.R. Tolkien's 
invented languages to some of his devised writing systems.

Copyright (C) 2015 Benjamin Babut (Talagan).

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

**\

\** Charset specially customized for Tengwar Elfica (Glaemscrafu patched version) **\ 

\version 0.2.0

\beg changelog
  \entry "0.0.5" "Added VALA_W_HOOK, VAIYA. Moved A_TEHTA_INV_L due to soft hyphen bug."
  \entry "0.0.6" "Superior and inferior dash and tild consonant modification signs have been added for halla, telco and ara. / Added pustar combinations (4/4-halfed/4-squared/5)"
  \entry "0.0.7" "Fixed missing tinco_ext / sule_ext"
  \entry "0.0.8" "Added NBSP"
  \entry "0.0.9" "Moved back some chars to latin blocks to avoid word-wrapping problems"  
  \entry "0.1.0" "Added ELVISH_PAREN tokien, reworked sarince token names."
  \entry "0.1.1" "Reworked sarince for left-oriented carriers"  
  \entry "0.2.0" "Using new format for virtual chars, for better change and error tracking with git diff"
\end

\**   **\ \char 20 SPACE              
\** ! **\ \char 21 TW_EXT_11 TINCO_EXT SULE_EXT THULE_EXT                  
\** " **\ \char 22 DASH_INF_L            
\** # **\ \char 23 A_TEHTA_XL          
\** $ **\ \char 24 E_TEHTA_XL   
\** % **\ \char 25 I_TEHTA_XL     
\** & **\ \char 26 U_TEHTA_XL        
\** ' **\ \char 27 DASH_INF_S            
\** ( **\ \char 28 ?         \** seems redundant with I_TEHTA_INF **\       
\** ) **\ \char 29 TILD_XSUP_L           
\** * **\ \char 2a ?                
\** + **\ \char 2b SARINCE_RIGHT_V1 SHOOK_RIGHT_L          
\** , **\ \char 2c TW_84 ESSE_NUQUERNA       
\** - **\ \char 2d PUNCT_DDOT            
\** . **\ \char 2e TW_94 URE            
\** / **\ \char 2f TILD_XINF_S           
\** 0 **\ \char 30 TILD_XSUP_S           
\** 1 **\ \char 31 TW_11 TINCO           
\** 2 **\ \char 32 TW_21 ANDO           
\** 3 **\ \char 33 TW_31 SULE THULE        
\** 4 **\ \char 34 TW_41 ANTO           
\** 5 **\ \char 35 TW_51 NUMEN           
\** 6 **\ \char 36 TW_61 ORE            
\** 7 **\ \char 37 TW_71 ROMEN           
\** 8 **\ \char 38 TW_81 SILME           
\** 9 **\ \char 39 TW_91 HYARMEN          
\** : **\ \char 3a TILD_INF_L            
\** ; **\ \char 3b TILD_INF_S            
\** < **\ \char 3c ?  \** Does not look compliant between DS and Annatar **\
\** = **\ \char 3d PUNCT_DOT            
\** > **\ \char 3e ?                
\** ? **\ \char 3f TILD_XINF_L           
\** @ **\ \char 40 TW_EXT_21 ANDO_EXT ANTO_EXT            
\** A **\ \char 41 TW_EXT_13 CALMA_EXT AHA_EXT            
\** B **\ \char 42 I_TEHTA_XS     
\** C **\ \char 43 A_TEHTA_XS          
\** D **\ \char 44 A_TEHTA_S           
\** E **\ \char 45 A_TEHTA_L           
\** F **\ \char 46 E_TEHTA_S    
\** G **\ \char 47 I_TEHTA_S           
\** H **\ \char 48 O_TEHTA_S           
\** I **\ \char 49 SILME_NUQUERNA_ALT \** Used for y in s. beleriand **\                
\** J **\ \char 4a U_TEHTA_S         
\** K **\ \char 4b ?                
\** L **\ \char 4c LAMBE_MARK_DOT                
\** M **\ \char 4d U_TEHTA_XS        
\** N **\ \char 4e O_TEHTA_XS          
\** O **\ \char 4f ?                
\** P **\ \char 50 TILD_SUP_L            
\** Q **\ \char 51 TW_EXT_12 PARMA_EXT FORMEN_EXT            
\** R **\ \char 52 E_TEHTA_L          
\** S **\ \char 53 TW_EXT_23 ANGA_EXT ANCA_EXT            
\** T **\ \char 54 I_TEHTA_L           
\** U **\ \char 55 U_TEHTA_L         
\** V **\ \char 56 E_TEHTA_XS         
\** W **\ \char 57 TW_EXT_22 UMBAR_EXT AMPA_EXT            
\** X **\ \char 58 TW_EXT_24 UNQUE_EXT UNGWE_EXT            
\** Y **\ \char 59 O_TEHTA_L           
\** Z **\ \char 5a TW_EXT_14 QUESSE_EXT HWESTA_EXT            
\** [ **\ \char 5b DASH_SUP_S            
\** \ **\ \char 5c TILD_L              
\** ] **\ \char 5d OSSE               
\** ^ **\ \char 5e O_TEHTA_XL          
\** _ **\ \char 5f SARINCE_RIGHT_V2 SHOOK_RIGHT_S          
\** ` **\ \char 60 TELCO              
\** a **\ \char 61 TW_13 CALMA          
\** b **\ \char 62 TW_54 NWALME          
\** c **\ \char 63 TW_34 HWESTA          
\** d **\ \char 64 TW_33 AHA           
\** e **\ \char 65 TW_32 FORMEN          
\** f **\ \char 66 TW_43 ANCA           
\** g **\ \char 67 TW_53 NOLDO          
\** h **\ \char 68 TW_63 ANNA           
\** i **\ \char 69 TW_82 SILME_NUQUERNA      
\** j **\ \char 6a TW_73 LAMBE       
\** k **\ \char 6b TW_83 ESSE           
\** l **\ \char 6c TW_93 YANTA          
\** m **\ \char 6d TW_74 ALDA           
\** n **\ \char 6e TW_64 VILYA          
\** o **\ \char 6f TW_92 HWESTA_SINDARINWA    
\** p **\ \char 70 TILD_SUP_S           
\** q **\ \char 71 TW_12 PARMA          
\** r **\ \char 72 TW_42 AMPA           
\** s **\ \char 73 TW_23 ANGA           
\** t **\ \char 74 TW_52 MALTA          
\** u **\ \char 75 TW_72 ARDA           
\** v **\ \char 76 TW_44 UNQUE          
\** w **\ \char 77 TW_22 UMBAR          
\** x **\ \char 78 TW_24 UNGWE          
\** y **\ \char 79 TW_62 VALA           
\** z **\ \char 7a TW_14 QUESSE          
\** { **\ \char 7b DASH_SUP_L           
\** | **\ \char 7c SARINCE_LEFT_V1 SHOOK_LEFT_L          
\** } **\ \char 7d SARINCE_LEFT_V2 SHOOK_LEFT_S          
\** ~ **\ \char 7e ARA              
\char a0 NBSP
\** ¡ **\ \char a1 SARINCE_SEMI_ASCENDING_V1                
\** ¢ **\ \char a2 SARINCE_RIGHT_V3                
\** £ **\ \char a3 SARINCE_FLOURISHED_V1 SARINCE_FLOURISHED SHOOK_BEAUTIFUL                
\** ¥ **\ \char a5 SARINCE_FLOURISHED_V2                  
\** ¦ **\ \char a6 HWESTA_TINCO                
\** § **\ \char a7 AHA_TINCO                
\** ¨ **\ \char a8 TH_SUB_CIRC_S          
\** © **\ \char a9 TH_SUB_CIRC_XS          
\** ª **\ \char aa ? \** A_TEHTA_INV_XL **\
\** « **\ \char ab DQUOT_OPEN            
\** ¬ **\ \char ac PUNCT_DTILD RING_MARK_L RING_MARK_R              
\**   **\ \char ad ? \** A_TEHTA_INV_L **\        
\** ® **\ \char ae ?                
\** ¯ **\ \char af ? \** A_TEHTA_INV_S **\
\** ° **\ \char b0 LAMBE_MARK_TILD              
\** ± **\ \char b1 SQUOT_OPEN            
\** ² **\ \char b2 SQUOT_CLOSE           
\** ³ **\ \char b3 ?                
\** ´ **\ \char b4 LAMBE_MARK_DDOT         
\** µ **\ \char b5 ? \** A_TEHTA_INV_XS **\
\** · **\ \char b7 ?                
\** ¸ **\ \char b8 LAMBE_MARK_DASH         
\** ¹ **\ \char b9 ?                
\** º **\ \char ba ?                
\** » **\ \char bb DQUOT_CLOSE           
\** ¼ **\ \char bc LIGATING_SHORT_CARRIER                
\** ½ **\ \char bd HALLA              
\** ¾ **\ \char be BOMBADIL_W           
\** ¿ **\ \char bf BOMBADIL_HW           
\** À **\ \char c0 PUNCT_INTERR           
\** Á **\ \char c1 PUNCT_EXCLAM           
\** Â **\ \char c2 PUNCT_TILD            
\** Ã **\ \char c3 ?                
\** Ä **\ \char c4 CHRISTOPHER_QU                    
\** Å **\ \char c5 SARINCE_ASCENDING_V1                
\** Æ **\ \char c6 SARINCE_ASCENDING_V3                   
\** Ç **\ \char c7 ?                
\** È **\ \char c8 THINF_DOT_XL           
\** É **\ \char c9 THINF_DOT_L           
\** Ê **\ \char ca THINF_DOT_S           
\** Ë **\ \char cb THINF_DOT_XS           
\** Ì **\ \char cc THINF_DDOT_XL          
\** Í **\ \char cd THINF_DDOT_L           
\** Î **\ \char ce THINF_DDOT_S           
\** Ï **\ \char cf THINF_DDOT_XS          
\** Ð **\ \char d0 THINF_TDOT_XL          
\** Ñ **\ \char d1 THINF_TDOT_L           
\** Ò **\ \char d2 THINF_TDOT_S           
\** Ó **\ \char d3 THINF_TDOT_XS          
\** Ô **\ \char d4 THSUP_DDOT_XL Y_TEHTA_XL I_TEHTA_DOUBLE_XL         
\** Õ **\ \char d5 THSUP_DDOT_L Y_TEHTA_L I_TEHTA_DOUBLE_L       
\** Ö **\ \char d6 THSUP_DDOT_S Y_TEHTA_S I_TEHTA_DOUBLE_S          
\** × **\ \char d7 THSUP_DDOT_XS Y_TEHTA_XS I_TEHTA_DOUBLE_XS         
\** Ø **\ \char d8 THSUP_TICK_XL          
\** Ù **\ \char d9 THSUP_TICK_L           
\** Ú **\ \char da THSUP_TICK_S           
\** Û **\ \char db THSUP_TICK_XS          
\** Ü **\ \char dc THSUP_TICK_INV_XL A_TEHTA_CIRCUM_XL       
\** Ý **\ \char dd THSUP_TICK_INV_L A_TEHTA_CIRCUM_L        
\** Þ **\ \char de THSUP_TICK_INV_S A_TEHTA_CIRCUM_S         
\** ß **\ \char df THSUP_TICK_INV_XS A_TEHTA_CIRCUM_XS       
\** à **\ \char e0 ? \** THSUP_LAMBDA_XL => REVERSED_O_TEHTA **\
\** á **\ \char e1 ? \** THSUP_LAMBDA_L => REVERSED_O_TEHTA **\          
\** â **\ \char e2 ? \** THSUP_LAMBDA_S => REVERSED_O_TEHTA **\          
\** ã **\ \char e3 ? \** THSUP_LAMBDA_XS => REVERSED_O_TEHTA **\
\** ä **\ \char e4 THINF_CURL_XL          
\** å **\ \char e5 THINF_CURL_L           
\** æ **\ \char e6 THINF_CURL_S           
\** ç **\ \char e7 THINF_CURL_XS          
\** è **\ \char e8 WA_TEHTA_XL           
\** é **\ \char e9 WA_TEHTA_L           
\** ê **\ \char ea WA_TEHTA_S           
\** ë **\ \char eb WA_TEHTA_XS           
\** ì **\ \char ec ?                                 
\** í **\ \char ed ?                                 
\** î **\ \char ee ?                                 
\** ï **\ \char ef ?                                 
\** ð **\ \char f0 NUM_0                               
\** ñ **\ \char f1 NUM_1                               
\** ò **\ \char f2 NUM_2                               
\** ó **\ \char f3 NUM_3                               
\** ô **\ \char f4 NUM_4                               
\** õ **\ \char f5 NUM_5                               
\** ö **\ \char f6 NUM_6                               
\** ÷ **\ \char f7 NUM_7                               
\** ø **\ \char f8 NUM_8                               
\** ù **\ \char f9 NUM_9                               
\** ú **\ \char fa NUM_10                               
\** û **\ \char fb NUM_11                               
\** ü **\ \char fc THINF_STROKE_XL                                 
\** ý **\ \char fd THINF_STROKE_L                                 
\** þ **\ \char fe THINF_STROKE_S                                 
\** ÿ **\ \char ff THINF_STROKE_XS     

\** NEW BLOCK HERE : 0x100 => 0x13F : lot of chars are in alternate font in eldamar **\
\** DOUBLE TEHTAR ARE HERE **\

\char 123 ANNA_OPEN
\char 129 NUM_12
                           
\char 108 A_TEHTA_INV_XL A_TEHTA_DOUBLE_XL
\char 109 A_TEHTA_INV_L  A_TEHTA_DOUBLE_L
\char 10A A_TEHTA_INV_S  A_TEHTA_DOUBLE_S
\char 10B A_TEHTA_INV_XS A_TEHTA_DOUBLE_XS

\char 10C O_TEHTA_DOUBLE_XL
\char 10D O_TEHTA_DOUBLE_L
\char 10E O_TEHTA_DOUBLE_S
\char 10F O_TEHTA_DOUBLE_XS

\char 110 E_TEHTA_GRAVE_XL
\char 111 E_TEHTA_GRAVE_L
\char 112 E_TEHTA_GRAVE_S
\char 113 E_TEHTA_GRAVE_XS

\char 1A0 E_TEHTA_DOUBLE_XL
\char 1A1 E_TEHTA_DOUBLE_L
\char 1A2 E_TEHTA_DOUBLE_S
\char 1A3 E_TEHTA_DOUBLE_XS

\char 1A4 U_TEHTA_DOUBLE_XL
\char 1A5 U_TEHTA_DOUBLE_L
\char 1A6 U_TEHTA_DOUBLE_S
\char 1A7 U_TEHTA_DOUBLE_XS

\char 1B2 THSUP_LAMBDA_XL
\char 1B3 THSUP_LAMBDA_L 
\char 1B4 THSUP_LAMBDA_S 
\char 1B5 THSUP_LAMBDA_XS
          
\** END OF NEW BLOCK **\
          
\char 125 VAIA WAIA VAIYA
          
\** Œ **\ \char 152 PUNCT_PAREN_L PUNCT_PAREN_L_ALT          \** OK **\                    
\** œ **\ \char 153 PUNCT_PAREN_R PUNCT_PAREN_R_ALT         \** OK **\                        
\** Š **\ \char 160 THINF_ACCENT_L         \** OK **\                              
\** š **\ \char 161 MALTA_W_HOOK TW_MH           \** OK **\                            
\** Ÿ **\ \char 178 THINF_ACCENT_XS        \** OK **\              

\char 180 VALA_W_HOOK TW_MH_BELERIANDIC

                
\** \char 192 THINF_DSTROKE_XL **\                               

\char 200 DASH_INF_XS
\char 201 TILD_INF_XS
\char 202 DASH_SUP_XS
\char 203 TILD_SUP_XS

\char 204 THINF_CURL_INV_XL
\char 205 THINF_CURL_INV_L
\char 206 THINF_CURL_INV_S
\char 207 THINF_CURL_INV_XS

\** Moved excentred inf tehta **\
\char 208 THINF_DSTROKE_XL
\char 209 THINF_DSTROKE_L
\char 20A THINF_DSTROKE_S
\char 20B THINF_DSTROKE_XS

\** Non attested but might exist by principle. Beware, order is revesed. **\
\char 20C E_TEHTA_GRAVE_INF_XS
\char 20D E_TEHTA_GRAVE_INF_L
\char 20E E_TEHTA_GRAVE_INF_S
\char 20F E_TEHTA_GRAVE_INF_XL



\char 250 LAMBE_MARK_DSTROKE                    

\char 181 PUSTA_4
\char 182 PUSTA_5
\char 10FB PUSTA_4_HALFED
\char 2E2C PUSTA_4_SQUARED

\** ˆ **\ \char 2c6 PUNCT_TDOT PUSTA_3 



\** ˜ **\ \char 2dc TH_SUB_CIRC_XL         \** OK **\         


               
\** – **\ \char 2013 ANCA_CLOSED SILME_AHA           \** OK **\                       
\** — **\ \char 2014 OLD_ENGLISH_AND       \** OK **\                          
\** ‘ **\ \char 2018 ?     \** OK **\                            
\** ’ **\ \char 2019 ?      \** OK **\                           
\** \char 201a LAMBE_MARK_DSTROKE **\                              
\** “ **\ \char 201c ?      \** OK **\                           
\** ” **\ \char 201d ?     \** OK **\                            
\** \char 201e THINF_DSTROKE_L **\                          
\** \char 2020 THINF_DSTROKE_XS **\                           
\** ‡ **\ \char 2021 ?                                
\** • **\ \char 2022 TW_HW_LOWDHAM HARP_SHAPED           \** OK **\                       
\** \char 2026 THINF_DSTROKE_S **\                           
\** ‰ **\ \char 2030 THINF_ACCENT_XL       \** OK **\                          
\** ‹ **\ \char 2039 THINF_ACCENT_S        \** OK **\                         
\** › **\ \char 203a ELVISH_PAREN BOOKMARK_SIGN         \** OK **\                        
\** ™ **\ \char 2122 TH_SUB_CIRC_L         \** OK **\ 


                         
\** The following virtual chars are used to handle tehtar (& the like) multiple version chosing **\
\** It could be avoided with modern fonts with gsub/gpos tables for ligatures and diacritics **\
\** placement **\

\** DUMPED FROM THE VIRTUAL CHARS TOOL **\

\beg virtual A_TEHTA
  \beg class A_TEHTA_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    HARP_SHAPED
    NUM_10
    NUM_11
  \end
  \beg class A_TEHTA_S
    TINCO
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_5
    NUM_8
  \end
  \beg class A_TEHTA_L
    PARMA
    AHA
    HWESTA
    VALA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    VALA_W_HOOK
    NUM_2
    NUM_6
    NUM_7
  \end
  \beg class A_TEHTA_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    SILME
    ESSE
    HWESTA_SINDARINWA
    VAIA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_9
  \end
\end

\beg virtual A_TEHTA_CIRCUM
  \beg class A_TEHTA_CIRCUM_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    HARP_SHAPED
    NUM_10
    NUM_11
  \end
  \beg class A_TEHTA_CIRCUM_S
    TINCO
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_5
    NUM_8
  \end
  \beg class A_TEHTA_CIRCUM_L
    PARMA
    AHA
    HWESTA
    VALA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    VALA_W_HOOK
    NUM_2
    NUM_6
    NUM_7
  \end
  \beg class A_TEHTA_CIRCUM_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    SILME
    ESSE
    HWESTA_SINDARINWA
    VAIA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_9
  \end
\end

\beg virtual A_TEHTA_REVERSED
  \beg class A_TEHTA_INV_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    HARP_SHAPED
    NUM_10
    NUM_11
  \end
  \beg class A_TEHTA_INV_S
    TINCO
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_5
    NUM_8
  \end
  \beg class A_TEHTA_INV_L
    PARMA
    AHA
    HWESTA
    VALA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    VALA_W_HOOK
    NUM_2
    NUM_6
    NUM_7
  \end
  \beg class A_TEHTA_INV_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    SILME
    ESSE
    HWESTA_SINDARINWA
    VAIA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_9
  \end
\end

\beg virtual A_TEHTA_CIRCUM_REVERSED TEHTA_BREVE
  \beg class THSUP_TICK_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    HARP_SHAPED
    NUM_10
    NUM_11
  \end
  \beg class THSUP_TICK_S
    TINCO
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_5
    NUM_8
  \end
  \beg class THSUP_TICK_L
    PARMA
    AHA
    HWESTA
    VALA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    VALA_W_HOOK
    NUM_2
    NUM_6
    NUM_7
  \end
  \beg class THSUP_TICK_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    SILME
    ESSE
    HWESTA_SINDARINWA
    VAIA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_9
  \end
\end

\beg virtual E_TEHTA
  \beg class E_TEHTA_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    HARP_SHAPED
    NUM_10
    NUM_11
  \end
  \beg class E_TEHTA_S
    TINCO
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    ESSE_NUQUERNA
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_5
    NUM_8
  \end
  \beg class E_TEHTA_L
    PARMA
    AHA
    HWESTA
    VALA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA_ALT
    YANTA
    VALA_W_HOOK
    NUM_2
    NUM_6
    NUM_7
  \end
  \beg class E_TEHTA_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    SILME
    ESSE
    HWESTA_SINDARINWA
    VAIA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_9
  \end
\end

\beg virtual E_TEHTA_GRAVE
  \beg class E_TEHTA_GRAVE_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
    NUM_10
    NUM_11
  \end
  \beg class E_TEHTA_GRAVE_S
    TINCO
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    ESSE_NUQUERNA
    URE
    OSSE
    SHOOK_BEAUTIFUL
    NUM_0
    NUM_1
    NUM_5
    NUM_8
  \end
  \beg class E_TEHTA_GRAVE_L
    PARMA
    AHA
    HWESTA
    VALA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA_ALT
    YANTA
    VALA_W_HOOK
    NUM_2
    NUM_7
  \end
  \beg class E_TEHTA_GRAVE_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    SILME
    ESSE
    HWESTA_SINDARINWA
    VAIA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_6
    NUM_9
  \end
\end

\beg virtual I_TEHTA
  \beg class I_TEHTA_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    HARP_SHAPED
    NUM_10
    NUM_11
  \end
  \beg class I_TEHTA_S
    TINCO
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    ESSE_NUQUERNA
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_5
    NUM_8
  \end
  \beg class I_TEHTA_L
    PARMA
    AHA
    HWESTA
    VALA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA_ALT
    YANTA
    VALA_W_HOOK
    NUM_2
    NUM_6
    NUM_7
  \end
  \beg class I_TEHTA_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    SILME
    ESSE
    HWESTA_SINDARINWA
    VAIA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_9
  \end
\end

\beg virtual O_TEHTA
  \beg class O_TEHTA_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    HARP_SHAPED
    NUM_0
    NUM_1
    NUM_10
    NUM_11
  \end
  \beg class O_TEHTA_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    ESSE_NUQUERNA
    YANTA
    URE
    OSSE
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_2
    NUM_4
    NUM_5
    NUM_8
  \end
  \beg class O_TEHTA_L
    AHA
    HWESTA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA_ALT
    VAIA
    NUM_3
    NUM_6
    NUM_7
  \end
  \beg class O_TEHTA_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_9
  \end
\end

\beg virtual U_TEHTA
  \beg class U_TEHTA_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    HARP_SHAPED
    NUM_0
    NUM_1
    NUM_10
    NUM_11
  \end
  \beg class U_TEHTA_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    ESSE_NUQUERNA
    YANTA
    URE
    OSSE
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_2
    NUM_4
    NUM_5
    NUM_8
  \end
  \beg class U_TEHTA_L
    AHA
    HWESTA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA_ALT
    VAIA
    NUM_6
    NUM_7
  \end
  \beg class U_TEHTA_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_9
  \end
\end

\beg virtual WA_TEHTA SEV_TEHTA
  \beg class WA_TEHTA_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    HARP_SHAPED
    NUM_10
    NUM_11
  \end
  \beg class WA_TEHTA_S
    SULE
    FORMEN
    ORE
    ANNA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_8
  \end
  \beg class WA_TEHTA_L
    TINCO
    PARMA
    CALMA
    QUESSE
    AHA
    HWESTA
    VALA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    VALA_W_HOOK
    NUM_2
    NUM_5
  \end
  \beg class WA_TEHTA_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    SILME
    ESSE
    HWESTA_SINDARINWA
    VAIA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_6
    NUM_7
    NUM_9
  \end
\end

\beg virtual A_TEHTA_DOUBLE
  \beg class A_TEHTA_DOUBLE_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    HARP_SHAPED
    NUM_10
    NUM_11
  \end
  \beg class A_TEHTA_DOUBLE_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    ANNA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_5
    NUM_8
  \end
  \beg class A_TEHTA_DOUBLE_L
    AHA
    HWESTA
    VALA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    ESSE_NUQUERNA
    YANTA
    VALA_W_HOOK
    NUM_2
    NUM_6
    NUM_7
  \end
  \beg class A_TEHTA_DOUBLE_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    SILME
    ESSE
    HWESTA_SINDARINWA
    VAIA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_9
  \end
\end

\beg virtual E_TEHTA_DOUBLE
  \beg class E_TEHTA_DOUBLE_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    HARP_SHAPED
    NUM_10
    NUM_11
  \end
  \beg class E_TEHTA_DOUBLE_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    ANNA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    URE
    OSSE
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_5
    NUM_8
  \end
  \beg class E_TEHTA_DOUBLE_L
    AHA
    HWESTA
    VALA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    ESSE_NUQUERNA
    YANTA
    VAIA
    NUM_2
    NUM_6
    NUM_7
  \end
  \beg class E_TEHTA_DOUBLE_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_9
  \end
\end

\beg virtual I_TEHTA_DOUBLE Y_TEHTA
  \beg class I_TEHTA_DOUBLE_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    HARP_SHAPED
    NUM_4
    NUM_10
    NUM_11
  \end
  \beg class I_TEHTA_DOUBLE_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    ANNA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_5
    NUM_8
  \end
  \beg class I_TEHTA_DOUBLE_L
    AHA
    HWESTA
    VALA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    ESSE_NUQUERNA
    YANTA
    VALA_W_HOOK
    NUM_2
    NUM_6
    NUM_7
  \end
  \beg class I_TEHTA_DOUBLE_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    SILME
    ESSE
    HWESTA_SINDARINWA
    VAIA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_9
  \end
\end

\beg virtual O_TEHTA_DOUBLE
  \beg class O_TEHTA_DOUBLE_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    HARP_SHAPED
    NUM_0
    NUM_1
    NUM_4
    NUM_10
    NUM_11
  \end
  \beg class O_TEHTA_DOUBLE_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    ANNA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    URE
    OSSE
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_5
    NUM_8
  \end
  \beg class O_TEHTA_DOUBLE_L
    AHA
    HWESTA
    VALA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    ESSE_NUQUERNA
    YANTA
    VAIA
    NUM_2
    NUM_6
    NUM_7
  \end
  \beg class O_TEHTA_DOUBLE_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_9
  \end
\end

\beg virtual U_TEHTA_DOUBLE
  \beg class U_TEHTA_DOUBLE_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    HARP_SHAPED
    NUM_0
    NUM_1
    NUM_4
    NUM_10
    NUM_11
  \end
  \beg class U_TEHTA_DOUBLE_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    ANNA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    URE
    OSSE
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_5
    NUM_8
  \end
  \beg class U_TEHTA_DOUBLE_L
    AHA
    HWESTA
    VALA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    ESSE_NUQUERNA
    YANTA
    VAIA
    NUM_2
    NUM_6
    NUM_7
  \end
  \beg class U_TEHTA_DOUBLE_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_9
  \end
\end

\beg virtual A_TEHTA_INF
  \beg class THINF_TDOT_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    HARP_SHAPED
  \end
  \beg class THINF_TDOT_S
    TINCO
    PARMA
    TW_EXT_11
    TW_EXT_12
    SILME
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class THINF_TDOT_L
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_2
    NUM_5
    NUM_7
  \end
  \beg class THINF_TDOT_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_6
    NUM_9
  \end
\end

\beg virtual E_TEHTA_INF
  \beg class THINF_ACCENT_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    HARP_SHAPED
  \end
  \beg class THINF_ACCENT_S
    TINCO
    PARMA
    TW_EXT_11
    TW_EXT_12
    SILME
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_8
    NUM_11
  \end
  \beg class THINF_ACCENT_L
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_2
    NUM_7
    NUM_10
  \end
  \beg class THINF_ACCENT_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_5
    NUM_6
    NUM_9
  \end
\end

\beg virtual O_TEHTA_INF
  \beg class THINF_CURL_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    SHOOK_BEAUTIFUL
  \end
  \beg class THINF_CURL_S
    TINCO
    PARMA
    TW_EXT_11
    TW_EXT_12
    SILME
    ESSE
    ESSE_NUQUERNA
    URE
    OSSE
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_7
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class THINF_CURL_L
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VALA_W_HOOK
    NUM_2
    NUM_5
  \end
  \beg class THINF_CURL_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    VAIA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_6
    NUM_9
  \end
\end

\beg virtual U_TEHTA_INF
  \beg class THINF_CURL_INV_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
  \end
  \beg class THINF_CURL_INV_S
    TINCO
    PARMA
    TW_EXT_11
    TW_EXT_12
    SILME
    ESSE
    ESSE_NUQUERNA
    URE
    OSSE
    NUM_0
    NUM_1
    NUM_4
    NUM_7
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class THINF_CURL_INV_L
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    LAMBE
    ALDA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_2
    NUM_5
  \end
  \beg class THINF_CURL_INV_XL
    CALMA
    QUESSE
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_13
    TW_EXT_14
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_6
    NUM_9
  \end
\end

\beg virtual E_TEHTA_GRAVE_INF
  \beg class E_TEHTA_GRAVE_INF_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
  \end
  \beg class E_TEHTA_GRAVE_INF_S
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    TW_EXT_13
    TW_EXT_14
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    URE
    VAIA
    NUM_2
    NUM_4
    NUM_11
  \end
  \beg class E_TEHTA_GRAVE_INF_L
    TINCO
    PARMA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    LAMBE
    ALDA
    SILME
    ESSE
    ESSE_NUQUERNA
    OSSE
    NUM_0
    NUM_1
    NUM_7
    NUM_8
    NUM_10
  \end
  \beg class E_TEHTA_GRAVE_INF_XL
    CALMA
    QUESSE
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    VALA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_5
    NUM_6
    NUM_9
  \end
\end

\beg virtual CIRC_TEHTA_INF
  \beg class TH_SUB_CIRC_XS
    TELCO
    ARA
    HALLA
    TINCO
    PARMA
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    URE
    OSSE
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_7
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class TH_SUB_CIRC_S
    CALMA
    QUESSE
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    VAIA
    NUM_2
    NUM_5
  \end
  \beg class TH_SUB_CIRC_L
    VALA_W_HOOK
    NUM_3
  \end
  \beg class TH_SUB_CIRC_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_6
    NUM_9
  \end
\end

\beg virtual THINNAS THINF_STROKE
  \beg class THINF_STROKE_XS
    TELCO
    ARA
    HALLA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    SHOOK_BEAUTIFUL
  \end
  \beg class THINF_STROKE_S
    TINCO
    PARMA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME
    ESSE
    URE
    OSSE
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_7
    NUM_10
    NUM_11
  \end
  \beg class THINF_STROKE_L
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_2
    NUM_5
    NUM_8
  \end
  \beg class THINF_STROKE_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_6
    NUM_9
  \end
\end

\beg virtual PALATAL_SIGN I_TEHTA_DOUBLE_INF Y_TEHTA_INF
  \beg class THINF_DDOT_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
  \end
  \beg class THINF_DDOT_S
    TINCO
    PARMA
    SULE
    AHA
    TW_EXT_11
    TW_EXT_12
    SILME
    URE
    OSSE
    NUM_0
    NUM_1
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class THINF_DDOT_L
    FORMEN
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    ESSE
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_2
    NUM_4
    NUM_5
  \end
  \beg class THINF_DDOT_XL
    CALMA
    QUESSE
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_13
    TW_EXT_14
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    ALDA
    ESSE_NUQUERNA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_6
    NUM_9
  \end
  \beg class LAMBE_MARK_DDOT
    LAMBE
    SILME_NUQUERNA_ALT
    NUM_7
  \end
\end

\beg virtual E_TEHTA_DOUBLE_INF GEMINATE_DOUBLE
  \beg class THINF_DSTROKE_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    SHOOK_BEAUTIFUL
    HARP_SHAPED
  \end
  \beg class THINF_DSTROKE_S
    TINCO
    PARMA
    SULE
    AHA
    TW_EXT_11
    TW_EXT_12
    SILME
    URE
    OSSE
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class THINF_DSTROKE_L
    FORMEN
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    ESSE
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_2
    NUM_5
    NUM_7
  \end
  \beg class THINF_DSTROKE_XL
    CALMA
    QUESSE
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_13
    TW_EXT_14
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    ALDA
    ESSE_NUQUERNA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_6
    NUM_9
  \end
  \beg class LAMBE_MARK_DSTROKE
    LAMBE
    SILME_NUQUERNA_ALT
  \end
\end

\beg virtual UNUTIXE I_TEHTA_INF NO_VOWEL_DOT
  \beg class THINF_DOT_XS
    TELCO
    ARA
    HALLA
    SILME_NUQUERNA
    SHOOK_BEAUTIFUL
    HARP_SHAPED
  \end
  \beg class THINF_DOT_S
    TINCO
    PARMA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    URE
    OSSE
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_7
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class THINF_DOT_L
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    SILME
    ESSE
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_2
  \end
  \beg class THINF_DOT_XL
    CALMA
    QUESSE
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    ALDA
    ESSE_NUQUERNA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_5
    NUM_6
    NUM_9
  \end
  \beg class LAMBE_MARK_DOT
    LAMBE
    SILME_NUQUERNA_ALT
  \end
\end

\beg virtual GEMINATE_SIGN
  \beg class DASH_INF_XS
    TELCO
    ARA
    HALLA
  \end
  \beg class DASH_INF_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    TW_EXT_13
    TW_EXT_14
    ROMEN
    ARDA
    SILME
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    URE
    OSSE
    VAIA
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    NUM_0
    NUM_1
    NUM_2
    NUM_4
    NUM_5
    NUM_6
    NUM_7
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class DASH_INF_L
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    AHA_TINCO
    HWESTA_TINCO
    NUM_3
    NUM_9
  \end
  \beg class LAMBE_MARK_DASH
    LAMBE
    ALDA
  \end
\end

\beg virtual GEMINATE_SIGN_TILD
  \beg class TILD_INF_XS
    TELCO
    ARA
    HALLA
  \end
  \beg class TILD_INF_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    TW_EXT_13
    TW_EXT_14
    ROMEN
    ARDA
    SILME
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    URE
    OSSE
    VAIA
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    NUM_0
    NUM_1
    NUM_2
    NUM_4
    NUM_5
    NUM_6
    NUM_7
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class TILD_INF_L
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    AHA_TINCO
    HWESTA_TINCO
    NUM_3
    NUM_9
  \end
  \beg class LAMBE_MARK_TILD
    LAMBE
    ALDA
  \end
\end

\beg virtual NASALIZE_SIGN
  \beg class DASH_SUP_XS
    TELCO
    ARA
    HALLA
  \end
  \beg class DASH_SUP_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    TW_EXT_13
    TW_EXT_14
    ROMEN
    ARDA
    SILME
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    URE
    OSSE
    VAIA
    VALA_W_HOOK
    HARP_SHAPED
    NUM_0
    NUM_1
    NUM_2
    NUM_4
    NUM_5
    NUM_6
    NUM_7
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class DASH_SUP_L
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    MALTA_W_HOOK
    SHOOK_BEAUTIFUL
    ANCA_CLOSED
    AHA_TINCO
    HWESTA_TINCO
    NUM_3
    NUM_9
  \end
\end

\beg virtual NASALIZE_SIGN_TILD
  \beg class TILD_SUP_XS
    TELCO
    ARA
    HALLA
  \end
  \beg class TILD_SUP_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    TW_EXT_13
    TW_EXT_14
    ROMEN
    ARDA
    SILME
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    URE
    OSSE
    VAIA
    VALA_W_HOOK
    HARP_SHAPED
    NUM_0
    NUM_1
    NUM_2
    NUM_4
    NUM_5
    NUM_6
    NUM_7
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class TILD_SUP_L
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    MALTA_W_HOOK
    SHOOK_BEAUTIFUL
    ANCA_CLOSED
    AHA_TINCO
    HWESTA_TINCO
    NUM_3
    NUM_9
  \end
\end

\beg virtual SARINCE
  \beg class SHOOK_LEFT_L
    CALMA
    QUESSE
    ANGA
    UNGWE
    AHA
    HWESTA
    ANCA
    UNQUE
    NOLDO
    NWALME
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    TW_EXT_23
    TW_EXT_24
    SILME
    HWESTA_SINDARINWA
    OSSE
    VALA_W_HOOK
    ANCA_CLOSED
  \end
  \beg class SHOOK_RIGHT_L
    TELCO
    ARA
    HALLA
    TINCO
    PARMA
    ANDO
    UMBAR
    SULE
    FORMEN
    ANTO
    AMPA
    NUMEN
    MALTA
    ORE
    VALA
    TW_EXT_11
    TW_EXT_12
    TW_EXT_21
    TW_EXT_22
    ROMEN
    ARDA
    LAMBE
    ALDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    YANTA
    URE
    VAIA
    MALTA_W_HOOK
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_2
    NUM_3
    NUM_4
    NUM_5
    NUM_6
    NUM_7
    NUM_8
    NUM_9
    NUM_10
    NUM_11
  \end
\end

