\**

Glǽmscribe (also written Glaemscribe) is a software dedicated to
the transcription of texts between writing systems, and more 
specifically dedicated to the transcription of J.R.R. Tolkien's 
invented languages to some of his devised writing systems.

Copyright (C) 2015 Benjamin Babut (Talagan).

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

**\

\** Charset specially customized for Tengwar Parmaite (Glaemscrafu patched version) **\ 

\version 0.2.0

\beg changelog
  \** Changes done to the original font and inherited. **\
  \entry "0.0.0" "Added VALA_W_HOOK, VAIYA."
  \entry "0.0.0" "Superior and inferior dash and tild consonant modification signs have been added for halla, telco and ara. / Added pustar combinations (4/4-halfed/4-squared/5)"
  \entry "0.0.0" "Fixed missing tinco_ext / sule_ext"
  \entry "0.0.0" "Added NBSP"
  \entry "0.1.0" "First version of the unicode layout"
  \entry "0.1.1" "Reworked sarince for left-oriented carriers"
  \entry "0.2.0" "Using new format for virtual chars, for better change and error tracking with git diff"
\end


\char 20 SPACE
\char a0 NBSP

\char 2018 SQUOT_OPEN
\char 2019 SQUOT_CLOSE

\char 28 PUNCT_PAREN_L 
\char 29 PUNCT_PAREN_R 
\char 5B PUNCT_PAREN_L_ALT 
\char 5D PUNCT_PAREN_R_ALT 

\** PUSTAR, take them in unicode not in personnal use (deprecation) **\
\char 2e31 PUNCT_DOT
\char   3a PUNCT_DDOT
\char 205D PUNCT_TDOT PUSTA_3
\char 2058 PUSTA_4
\char 10FB PUSTA_4_HALFED
\char 2E2C PUSTA_4_SQUARED
\char 2E2D PUSTA_5



\char e000  TW_11 TINCO     
\char e001  TW_12 PARMA
\char e002  TW_13 CALMA
\char e003  TW_14 QUESSE
\char e004  TW_21 ANDO  
\char e005  TW_22 UMBAR
\char e006  TW_23 ANGA  
\char e007  TW_24 UNGWE   
\char e008  TW_31 SULE THULE
\char e009  TW_32 FORMEN
\char e00A  TW_33 AHA  
\char e00B  TW_34 HWESTA
\char e00C  TW_41 ANTO
\char e00D  TW_42 AMPA
\char e00E  TW_43 ANCA
\char e00F  TW_44 UNQUE

\char e010  TW_51 NUMEN 
\char e011  TW_52 MALTA
\char e012  TW_53 NOLDO
\char e013  TW_54 NWALME
\char e014  TW_61 ORE
\char e015  TW_62 VALA
\char e016  TW_63 ANNA
\char e017  TW_64 VILYA
\char e018  TW_EXT_11 TINCO_EXT SULE_EXT THULE_EXT
\char e019  TW_EXT_12 PARMA_EXT FORMEN_EXT 
\char e01A  TW_EXT_13 CALMA_EXT AHA_EXT
\char e01B  TW_EXT_14 QUESSE_EXT HWESTA_EXT   
\char e01C  TW_EXT_21 ANDO_EXT ANTO_EXT 
\char e01D  TW_EXT_22 UMBAR_EXT AMPA_EXT
\char e01E  TW_EXT_23 ANGA_EXT ANCA_EXT
\char e01F  TW_EXT_24 UNGWE_EXT UNQUE_EXT

\char e020  TW_71 ROMEN
\char e021  TW_72 ARDA
\char e022  TW_73 LAMBE LAMBE_NO_LIG
\char e023  TW_74 ALDA 
\char e024  TW_81 SILME 
\char e025  TW_82 SILME_NUQUERNA 
\char e026  TW_83 ESSE
\char e027  TW_84 ESSE_NUQUERNA
\char e028  TW_91 HYARMEN 
\char e029  TW_92 HWESTA_SINDARINWA 
\char e02A  TW_93 YANTA
\char e02B  TW_94 URE
\char e02C  ARA
\char e02D  HALLA
\char e02E  TELCO
\**.....**\    

\char e030  REVERSED_OSSE
\char e031  BOMBADIL_W 
\char e032  OSSE
\**.....**\ 
\char e034  LIGATING_SHORT_CARRIER
\**..D..**\ 
\char e036  ANNA_OPEN
\char e037  CHRISTOPHER_QU
\**..D..**\ 
\char e039  BOMBADIL_HW
\char e03A  TW_MH MALTA_W_HOOK 
\char e03B  TW_MH_BELERIANDIC VALA_W_HOOK 
\char e03C  TW_HW_LOWDHAM HARP_SHAPED
\char e03D  VAIA WAIA VAIYA
\**..X..**\ 
\**..X..**\ 
 
\char e040  ? \** LEGACY FONT **\
\char e041  ? \** LEGACY FONT **\
\char e042  ? \** LEGACY FONT **\
\char e043  ? \** LEGACY FONT **\
\char e044  ? \** LEGACY FONT **\
\char e045  ? \** LEGACY FONT **\
\char e046  ? \** LEGACY FONT **\
\char e047  ? \** LEGACY FONT **\
\char e048  ? \** LEGACY FONT **\
\char e049  ? \** LEGACY FONT **\
\char e04A  ? \** LEGACY FONT **\
\char e04B  ? \** LEGACY FONT **\
\char e04C  ? \** LEGACY FONT **\
\char e04D  ? \** LEGACY FONT **\
\char e04E  ? \** LEGACY FONT **\
\char e04F  ? \** LEGACY FONT **\

\char e050  ? \** LEGACY FONT **\
\char e051  ? \** LEGACY FONT **\
\char e052  ? \** LEGACY FONT **\
\char e053  ? \** LEGACY FONT **\
\char e054  ? \** LEGACY FONT **\
\char e055  ? \** LEGACY FONT **\
\char e056  ? \** LEGACY FONT **\
\char e057  ? \** LEGACY FONT **\
\char e058  ? \** LEGACY FONT **\
\char e059  ? \** LEGACY FONT **\
\char e05A  ? \** LEGACY FONT **\
\**.....**\ 
\**.....**\ 
\**.....**\ 
\**.....**\ 
\**.....**\ 

\**..D..**\ 
\**..D..**\ 
\**..D..**\ 
\**..D..**\ 
\**..D..**\ 
\char e065  PUNCT_EXCLAM
\char e066  PUNCT_INTERR
\char e067  ELVISH_PAREN BOOKMARK_SIGN
\char e068  PUNCT_TILD 
\char e069  PUNCT_DTILD
\char e06A  DQUOT_OPEN
\char e06B  DQUOT_CLOSE
\char e06C  THORIN_EXCLAMATION
\**.....**\ 
\**..X..**\ 
\**..X..**\ 


\char e070 NUM_0 
\char e071 NUM_1 
\char e072 NUM_2 
\char e073 NUM_3 
\char e074 NUM_4 
\char e075 NUM_5 
\char e076 NUM_6 
\char e077 NUM_7 
\char e078 NUM_8 
\char e079 NUM_9 
\char e07A NUM_10
\char e07B NUM_11
\char e07C NUM_12

\** MISSING in the norm**\
\char 204A OLD_ENGLISH_AND

\char e03e SILME_NUQUERNA_ALT
\char e06e RING_MARK_L 
\char e06f RING_MARK_R

\** LEGACY SARINCE **\

\char EBD0 SARINCE_LEFT_V1 SHOOK_LEFT_L
\char EBD1 SARINCE_LEFT_V2 SHOOK_LEFT_S

\char EBD8 SARINCE_RIGHT_V1 SHOOK_RIGHT_L
\char EBD9 SARINCE_RIGHT_V2 SHOOK_RIGHT_S
\char EBDA SARINCE_RIGHT_V3

\char EBE0 SARINCE_SEMI_ASCENDING_V1

\char EBE8 SARINCE_ASCENDING_V1
\** .. **\
\char EBEA SARINCE_ASCENDING_V3

\char EBF0 SARINCE_DESCENDING_V1

\char EBF8 SARINCE_FLOURISHED_V1  SARINCE_FLOURISHED SHOOK_BEAUTIFUL
\char EBF9 SARINCE_FLOURISHED_V2

\** Consonant modifiers **\

\char EC00 DASH_INF_XS
\char EC01 DASH_INF_S   
\char EC02 DASH_INF_L    
\char EC0F LAMBE_MARK_DASH 

\char EC10 TILD_INF_XS
\char EC11 TILD_INF_S   
\char EC12 TILD_INF_L            
\char EC1F LAMBE_MARK_TILD   

\char EC20 DASH_SUP_XS
\char EC21 DASH_SUP_S                      
\char EC22 DASH_SUP_L  

\char EC30 TILD_SUP_XS
\char EC31 TILD_SUP_S  
\char EC32 TILD_SUP_L                       

\** Base tehtar **\

\char EC40 A_TEHTA_XS  
\char EC41 A_TEHTA_S 
\char EC42 A_TEHTA_L 
\char EC43 A_TEHTA_XL       

\char EC50 E_TEHTA_XS         
\char EC51 E_TEHTA_S
\char EC52 E_TEHTA_L 
\char EC53 E_TEHTA_XL  

\char EC60 I_TEHTA_XS   
\char EC61 I_TEHTA_S  
\char EC62 I_TEHTA_L   
\char EC63 I_TEHTA_XL   
      
\char EC70 O_TEHTA_XS              
\char EC71 O_TEHTA_S    
\char EC72 O_TEHTA_L   
\char EC73 O_TEHTA_XL 
      
\char EC80 U_TEHTA_XS 
\char EC81 U_TEHTA_S 
\char EC82 U_TEHTA_L    
\char EC83 U_TEHTA_XL  

\** Inf tehtar **\

\char EC90 THINF_TDOT_XS       
\char EC91 THINF_TDOT_L           
\char EC92 THINF_TDOT_S           
\char EC93 THINF_TDOT_XL

\char ECA0 THINF_ACCENT_XS    
\char ECA1 THINF_ACCENT_S       
\char ECA2 THINF_ACCENT_L                                                         
\char ECA3 THINF_ACCENT_XL 

\char ECB0 THINF_DOT_XS        
\char ECB1 THINF_DOT_S           
\char ECB2 THINF_DOT_L           
\char ECB3 THINF_DOT_XL
\char ECBF LAMBE_MARK_DOT  

\char ECC0 THINF_CURL_XS          
\char ECC1 THINF_CURL_S           
\char ECC2 THINF_CURL_L           
\char ECC3 THINF_CURL_XL     
 
\char ECD0 THINF_CURL_INV_XS                                
\char ECD1 THINF_CURL_INV_S                                                            
\char ECD2 THINF_CURL_INV_L                                
\char ECD3 THINF_CURL_INV_XL 

\** Double tehtar **\

\char ECE0 A_TEHTA_DOUBLE_XS
\char ECE1 A_TEHTA_DOUBLE_S 
\char ECE2 A_TEHTA_DOUBLE_L 
\char ECE3 A_TEHTA_DOUBLE_XL

\char ECF0 E_TEHTA_DOUBLE_XS
\char ECF1 E_TEHTA_DOUBLE_S 
\char ECF2 E_TEHTA_DOUBLE_L 
\char ECF3 E_TEHTA_DOUBLE_XL

\char ED00 THSUP_DDOT_XS    Y_TEHTA_XS    I_TEHTA_DOUBLE_XS         
\char ED01 THSUP_DDOT_S     Y_TEHTA_S     I_TEHTA_DOUBLE_S       
\char ED02 THSUP_DDOT_L     Y_TEHTA_L     I_TEHTA_DOUBLE_L          
\char ED03 THSUP_DDOT_XL    Y_TEHTA_XL    I_TEHTA_DOUBLE_XL     

\char ED10 O_TEHTA_DOUBLE_XS
\char ED11 O_TEHTA_DOUBLE_S 
\char ED12 O_TEHTA_DOUBLE_L 
\char ED13 O_TEHTA_DOUBLE_XL 

\char ED20 U_TEHTA_DOUBLE_XS
\char ED21 U_TEHTA_DOUBLE_S 
\char ED22 U_TEHTA_DOUBLE_L 
\char ED23 U_TEHTA_DOUBLE_XL

\** Double inf tehtar **\

\char ED30 THINF_DSTROKE_XS                               
\char ED31 THINF_DSTROKE_S       
\char ED32 THINF_DSTROKE_L                         
\char ED33 THINF_DSTROKE_XL 
\char ED3F LAMBE_MARK_DSTROKE 

\char ED40 THINF_DDOT_XS          
\char ED41 THINF_DDOT_S           
\char ED42 THINF_DDOT_L           
\char ED43 THINF_DDOT_XL 
\char ED4F LAMBE_MARK_DDOT    

\** Labializer **\

\char ED50 WA_TEHTA_XS           
\char ED51 WA_TEHTA_S           
\char ED52 WA_TEHTA_L           
\char ED53 WA_TEHTA_XL  

\** Thinnas **\

\char ED60 THINF_STROKE_XS                                 
\char ED61 THINF_STROKE_S                                 
\char ED62 THINF_STROKE_L                                 
\char ED63 THINF_STROKE_XL    

\** MSB Marker **\

\char ED70 TH_SUB_CIRC_XS         
\char ED71 TH_SUB_CIRC_S           
\char ED72 TH_SUB_CIRC_L                                  
\char ED73 TH_SUB_CIRC_XL  

\** Other UP Tehtar **\

\char ED80 A_TEHTA_INV_XS 
\char ED81 A_TEHTA_INV_S         
\char ED82 A_TEHTA_INV_L         
\char ED83 A_TEHTA_INV_XL    

\char ED90 THSUP_TICK_INV_XS    A_TEHTA_CIRCUM_XS       
\char ED91 THSUP_TICK_INV_S     A_TEHTA_CIRCUM_S        
\char ED92 THSUP_TICK_INV_L     A_TEHTA_CIRCUM_L         
\char ED93 THSUP_TICK_INV_XL    A_TEHTA_CIRCUM_XL   

\char EDA0 THSUP_TICK_XS          
\char EDA1 THSUP_TICK_S           
\char EDA2 THSUP_TICK_L           
\char EDA3 THSUP_TICK_XL     
                                                          
\char EDB0 THSUP_LAMBDA_XS         
\char EDB1 THSUP_LAMBDA_S          
\char EDB2 THSUP_LAMBDA_L          
\char EDB3 THSUP_LAMBDA_XL  

\char EDC0 E_TEHTA_GRAVE_XS
\char EDC1 E_TEHTA_GRAVE_S 
\char EDC2 E_TEHTA_GRAVE_L 
\char EDC3 E_TEHTA_GRAVE_XL 

\char EDD0 BREVE_TEHTA_XS
\char EDD1 BREVE_TEHTA_S
\char EDD2 BREVE_TEHTA_L
\char EDD3 BREVE_TEHTA_XL

\char EDE0 E_TEHTA_GRAVE_INF_XS
\char EDE1 E_TEHTA_GRAVE_INF_S
\char EDE2 E_TEHTA_GRAVE_INF_L
\char EDE3 E_TEHTA_GRAVE_INF_XL



\** Ligatured results are mapped here **\
\char e800 AHA_TINCO
\char e801 HWESTA_TINCO
\char e802 ANCA_CLOSED SILME_AHA
\char e900 LAMBE_LIG



                    
\** The following virtual chars are used to handle tehtar (& the like) multiple version chosing **\
\** It could be avoided with modern fonts with gsub/gpos tables for ligatures and diacritics **\
\** placement **\


\** DUMPED FROM THE VIRTUAL CHARS TOOL **\
\beg virtual A_TEHTA
  \beg class A_TEHTA_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class A_TEHTA_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    URE
    OSSE
    VALA_W_HOOK
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
  \end
  \beg class A_TEHTA_L
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    VAIA
    SHOOK_BEAUTIFUL
    NUM_0
    NUM_1
    NUM_5
  \end
  \beg class A_TEHTA_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_2
    NUM_3
    NUM_6
    NUM_7
    NUM_9
  \end
\end

\beg virtual A_TEHTA_CIRCUM
  \beg class A_TEHTA_CIRCUM_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class A_TEHTA_CIRCUM_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    URE
    OSSE
    VALA_W_HOOK
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_1
    NUM_4
  \end
  \beg class A_TEHTA_CIRCUM_L
    AHA
    HWESTA
    TW_EXT_13
    TW_EXT_14
    VAIA
    SHOOK_BEAUTIFUL
    NUM_0
    NUM_2
    NUM_5
    NUM_7
    NUM_9
  \end
  \beg class A_TEHTA_CIRCUM_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_6
  \end
\end

\beg virtual A_TEHTA_REVERSED
  \beg class A_TEHTA_INV_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class A_TEHTA_INV_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    URE
    OSSE
    VALA_W_HOOK
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
  \end
  \beg class A_TEHTA_INV_L
    AHA
    HWESTA
    TW_EXT_13
    TW_EXT_14
    VAIA
    SHOOK_BEAUTIFUL
    NUM_0
    NUM_1
    NUM_5
    NUM_7
  \end
  \beg class A_TEHTA_INV_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_2
    NUM_3
    NUM_6
    NUM_9
  \end
\end

\beg virtual A_TEHTA_CIRCUM_REVERSED TEHTA_BREVE
  \beg class THSUP_TICK_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class THSUP_TICK_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    URE
    OSSE
    VALA_W_HOOK
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
  \end
  \beg class THSUP_TICK_L
    AHA
    HWESTA
    TW_EXT_13
    TW_EXT_14
    VAIA
    SHOOK_BEAUTIFUL
    NUM_0
    NUM_1
    NUM_5
    NUM_7
  \end
  \beg class THSUP_TICK_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_2
    NUM_3
    NUM_6
    NUM_9
  \end
\end

\beg virtual E_TEHTA
  \beg class E_TEHTA_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class E_TEHTA_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    URE
    OSSE
    VALA_W_HOOK
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
  \end
  \beg class E_TEHTA_L
    AHA
    HWESTA
    TW_EXT_13
    TW_EXT_14
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    VAIA
    SHOOK_BEAUTIFUL
    NUM_0
    NUM_1
    NUM_5
    NUM_7
  \end
  \beg class E_TEHTA_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_2
    NUM_3
    NUM_6
    NUM_9
  \end
\end

\beg virtual E_TEHTA_GRAVE
  \beg class E_TEHTA_GRAVE_XS
    TINCO
    PARMA
    CALMA
    QUESSE
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    ROMEN
    ARDA
    SILME
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    URE
    VAIA
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    NUM_0
    NUM_1
    NUM_5
    NUM_7
  \end
  \beg class E_TEHTA_GRAVE_S
    TELCO
    ARA
    HALLA
    SULE
    FORMEN
    TW_EXT_11
    TW_EXT_12
    OSSE
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
    NUM_8
  \end
  \beg class E_TEHTA_GRAVE_L
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    ESSE
    HYARMEN
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_2
    NUM_3
    NUM_6
    NUM_9
    NUM_10
    NUM_11
  \end
  \beg class E_TEHTA_GRAVE_XL
    
  \end
\end

\beg virtual I_TEHTA
  \beg class I_TEHTA_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class I_TEHTA_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    URE
    OSSE
    VALA_W_HOOK
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_1
    NUM_4
  \end
  \beg class I_TEHTA_L
    AHA
    HWESTA
    TW_EXT_13
    TW_EXT_14
    VAIA
    SHOOK_BEAUTIFUL
    NUM_0
    NUM_5
    NUM_7
    NUM_9
  \end
  \beg class I_TEHTA_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_2
    NUM_3
    NUM_6
  \end
\end

\beg virtual O_TEHTA
  \beg class O_TEHTA_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    NUM_10
    NUM_11
  \end
  \beg class O_TEHTA_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    URE
    OSSE
    VALA_W_HOOK
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_8
  \end
  \beg class O_TEHTA_L
    AHA
    HWESTA
    TW_EXT_13
    TW_EXT_14
    VAIA
    SHOOK_BEAUTIFUL
    NUM_0
    NUM_1
    NUM_2
    NUM_3
    NUM_4
    NUM_9
  \end
  \beg class O_TEHTA_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_5
    NUM_6
    NUM_7
  \end
\end

\beg virtual U_TEHTA
  \beg class U_TEHTA_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    NUM_10
    NUM_11
  \end
  \beg class U_TEHTA_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    URE
    OSSE
    VALA_W_HOOK
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
    NUM_8
  \end
  \beg class U_TEHTA_L
    AHA
    HWESTA
    TW_EXT_13
    TW_EXT_14
    VAIA
    SHOOK_BEAUTIFUL
    NUM_0
    NUM_1
    NUM_2
    NUM_3
    NUM_5
    NUM_9
  \end
  \beg class U_TEHTA_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_6
    NUM_7
  \end
\end

\beg virtual WA_TEHTA SEV_TEHTA
  \beg class WA_TEHTA_XS
    TELCO
    ARA
    HALLA
    SULE
    FORMEN
    TW_EXT_11
    TW_EXT_12
    HYARMEN
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class WA_TEHTA_S
    TINCO
    PARMA
    CALMA
    QUESSE
    ORE
    VALA
    ANNA
    VILYA
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    URE
    OSSE
    VAIA
    VALA_W_HOOK
    NUM_0
    NUM_1
  \end
  \beg class WA_TEHTA_L
    AHA
    HWESTA
    TW_EXT_13
    TW_EXT_14
    SHOOK_BEAUTIFUL
    NUM_2
    NUM_5
    NUM_7
    NUM_9
  \end
  \beg class WA_TEHTA_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_6
  \end
\end

\beg virtual A_TEHTA_DOUBLE
  \beg class A_TEHTA_DOUBLE_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    NUM_4
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class A_TEHTA_DOUBLE_S
    SULE
    FORMEN
    TW_EXT_11
    TW_EXT_12
    OSSE
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
  \end
  \beg class A_TEHTA_DOUBLE_L
    TINCO
    PARMA
    CALMA
    QUESSE
    ORE
    VALA
    ANNA
    VILYA
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    URE
    VAIA
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    NUM_0
    NUM_1
    NUM_5
  \end
  \beg class A_TEHTA_DOUBLE_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    AHA
    HWESTA
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_13
    TW_EXT_14
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_2
    NUM_3
    NUM_6
    NUM_7
    NUM_9
  \end
\end

\beg virtual E_TEHTA_DOUBLE
  \beg class E_TEHTA_DOUBLE_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class E_TEHTA_DOUBLE_S
    TW_EXT_11
  \end
  \beg class E_TEHTA_DOUBLE_L
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_12
    TW_EXT_13
    TW_EXT_14
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    URE
    OSSE
    VAIA
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
  \end
  \beg class E_TEHTA_DOUBLE_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_2
    NUM_3
    NUM_4
    NUM_5
    NUM_6
    NUM_7
    NUM_9
  \end
\end

\beg virtual I_TEHTA_DOUBLE Y_TEHTA
  \beg class I_TEHTA_DOUBLE_XS
    TELCO
    ARA
    HALLA
    SULE
    FORMEN
    TW_EXT_11
    TW_EXT_12
    HYARMEN
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class I_TEHTA_DOUBLE_S
    TINCO
    PARMA
    CALMA
    QUESSE
    ORE
    VALA
    ANNA
    VILYA
    ESSE_NUQUERNA
    YANTA
    URE
    OSSE
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    NUM_1
  \end
  \beg class I_TEHTA_DOUBLE_L
    AHA
    HWESTA
    TW_EXT_13
    TW_EXT_14
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    VAIA
    NUM_0
    NUM_2
    NUM_5
    NUM_9
  \end
  \beg class I_TEHTA_DOUBLE_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_6
    NUM_7
  \end
\end

\beg virtual O_TEHTA_DOUBLE
  \beg class O_TEHTA_DOUBLE_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    NUM_10
    NUM_11
  \end
  \beg class O_TEHTA_DOUBLE_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    URE
    OSSE
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
    NUM_8
  \end
  \beg class O_TEHTA_DOUBLE_L
    AHA
    HWESTA
    TW_EXT_13
    TW_EXT_14
    VAIA
    VALA_W_HOOK
    NUM_0
    NUM_1
    NUM_2
    NUM_5
    NUM_7
  \end
  \beg class O_TEHTA_DOUBLE_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_6
    NUM_9
  \end
\end

\beg virtual U_TEHTA_DOUBLE
  \beg class U_TEHTA_DOUBLE_XS
    TELCO
    ARA
    HALLA
    HYARMEN
    NUM_10
    NUM_11
  \end
  \beg class U_TEHTA_DOUBLE_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    ROMEN
    ARDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE_NUQUERNA
    YANTA
    URE
    OSSE
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_8
  \end
  \beg class U_TEHTA_DOUBLE_L
    AHA
    HWESTA
    TW_EXT_13
    TW_EXT_14
    VAIA
    VALA_W_HOOK
    NUM_0
    NUM_1
    NUM_2
    NUM_4
    NUM_5
  \end
  \beg class U_TEHTA_DOUBLE_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    SILME
    ESSE
    HWESTA_SINDARINWA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_6
    NUM_7
    NUM_9
  \end
\end

\beg virtual A_TEHTA_INF
  \beg class THINF_TDOT_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    HARP_SHAPED
    NUM_8
  \end
  \beg class THINF_TDOT_S
    TINCO
    PARMA
    TW_EXT_11
    TW_EXT_12
    SILME
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_6
    NUM_7
  \end
  \beg class THINF_TDOT_L
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_0
    NUM_1
    NUM_2
    NUM_4
    NUM_10
    NUM_11
  \end
  \beg class THINF_TDOT_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_5
    NUM_9
  \end
\end

\beg virtual E_TEHTA_INF
  \beg class THINF_ACCENT_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    HARP_SHAPED
  \end
  \beg class THINF_ACCENT_S
    TINCO
    PARMA
    TW_EXT_11
    TW_EXT_12
    SILME
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_1
    NUM_4
    NUM_6
    NUM_7
    NUM_8
    NUM_11
  \end
  \beg class THINF_ACCENT_L
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_0
    NUM_2
    NUM_5
    NUM_9
    NUM_10
  \end
  \beg class THINF_ACCENT_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
  \end
\end

\beg virtual O_TEHTA_INF
  \beg class THINF_CURL_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    HARP_SHAPED
  \end
  \beg class THINF_CURL_S
    TINCO
    PARMA
    TW_EXT_11
    TW_EXT_12
    SILME
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
    NUM_6
    NUM_7
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class THINF_CURL_L
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_0
    NUM_1
    NUM_2
    NUM_5
    NUM_9
  \end
  \beg class THINF_CURL_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
  \end
\end

\beg virtual U_TEHTA_INF
  \beg class THINF_CURL_INV_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    HARP_SHAPED
  \end
  \beg class THINF_CURL_INV_S
    TINCO
    PARMA
    TW_EXT_11
    TW_EXT_12
    SILME
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
  \end
  \beg class THINF_CURL_INV_L
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_0
    NUM_1
    NUM_2
    NUM_4
    NUM_5
    NUM_6
    NUM_7
    NUM_8
    NUM_9
    NUM_10
    NUM_11
  \end
  \beg class THINF_CURL_INV_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
  \end
\end

\beg virtual E_TEHTA_GRAVE_INF
  \beg class E_TEHTA_GRAVE_INF_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
  \end
  \beg class E_TEHTA_GRAVE_INF_S
    CALMA
    QUESSE
    TW_EXT_13
    TW_EXT_14
    NUM_2
    NUM_3
    NUM_4
  \end
  \beg class E_TEHTA_GRAVE_INF_L
    TINCO
    PARMA
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    SILME
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    URE
    OSSE
    VAIA
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_6
    NUM_7
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class E_TEHTA_GRAVE_INF_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    LAMBE
    ALDA
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_5
    NUM_9
  \end
\end

\beg virtual CIRC_TEHTA_INF
  \beg class TH_SUB_CIRC_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    HARP_SHAPED
  \end
  \beg class TH_SUB_CIRC_S
    TINCO
    PARMA
    TW_EXT_11
    TW_EXT_12
    SILME
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
    NUM_6
    NUM_8
  \end
  \beg class TH_SUB_CIRC_L
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_0
    NUM_1
    NUM_7
    NUM_10
    NUM_11
  \end
  \beg class TH_SUB_CIRC_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_2
    NUM_3
    NUM_5
    NUM_9
  \end
\end

\beg virtual THINNAS THINF_STROKE
  \beg class THINF_STROKE_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    HARP_SHAPED
  \end
  \beg class THINF_STROKE_S
    TINCO
    PARMA
    TW_EXT_11
    TW_EXT_12
    SILME
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
    NUM_6
    NUM_7
    NUM_8
  \end
  \beg class THINF_STROKE_L
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    LAMBE
    ALDA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_0
    NUM_1
    NUM_2
    NUM_10
    NUM_11
  \end
  \beg class THINF_STROKE_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_5
    NUM_9
  \end
\end

\beg virtual PALATAL_SIGN I_TEHTA_DOUBLE_INF Y_TEHTA_INF
  \beg class THINF_DDOT_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    HARP_SHAPED
    NUM_8
  \end
  \beg class THINF_DDOT_S
    TINCO
    PARMA
    TW_EXT_11
    TW_EXT_12
    SILME
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
    NUM_6
  \end
  \beg class THINF_DDOT_L
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_0
    NUM_1
    NUM_2
    NUM_9
    NUM_10
    NUM_11
  \end
  \beg class THINF_DDOT_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_5
  \end
  \beg class LAMBE_MARK_DDOT
    LAMBE
    ALDA
    NUM_7
  \end
\end

\beg virtual E_TEHTA_DOUBLE_INF GEMINATE_DOUBLE
  \beg class THINF_DSTROKE_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    HARP_SHAPED
  \end
  \beg class THINF_DSTROKE_S
    TINCO
    PARMA
    TW_EXT_11
    TW_EXT_12
    SILME
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
    NUM_6
    NUM_7
    NUM_8
  \end
  \beg class THINF_DSTROKE_L
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_0
    NUM_1
    NUM_10
    NUM_11
  \end
  \beg class THINF_DSTROKE_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_2
    NUM_3
    NUM_5
    NUM_9
  \end
  \beg class LAMBE_MARK_DSTROKE
    LAMBE
    ALDA
  \end
\end

\beg virtual UNUTIXE I_TEHTA_INF NO_VOWEL_DOT
  \beg class THINF_DOT_XS
    TELCO
    ARA
    HALLA
    ROMEN
    ARDA
    SILME_NUQUERNA
    HARP_SHAPED
  \end
  \beg class THINF_DOT_S
    TINCO
    PARMA
    TW_EXT_11
    TW_EXT_12
    SILME
    URE
    OSSE
    SHOOK_BEAUTIFUL
    AHA_TINCO
    HWESTA_TINCO
    NUM_4
    NUM_6
    NUM_7
    NUM_8
  \end
  \beg class THINF_DOT_L
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    VAIA
    VALA_W_HOOK
    NUM_0
    NUM_1
    NUM_2
    NUM_10
    NUM_11
  \end
  \beg class THINF_DOT_XL
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_3
    NUM_5
    NUM_9
  \end
  \beg class LAMBE_MARK_DOT
    LAMBE
    ALDA
  \end
\end

\beg virtual GEMINATE_SIGN
  \beg class DASH_INF_XS
    TELCO
    ARA
    HALLA
  \end
  \beg class DASH_INF_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    TW_EXT_13
    TW_EXT_14
    ROMEN
    ARDA
    SILME
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    URE
    OSSE
    VAIA
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_7
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class DASH_INF_L
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_2
    NUM_3
    NUM_5
    NUM_6
    NUM_9
  \end
  \beg class LAMBE_MARK_DASH
    LAMBE
    ALDA
  \end
\end

\beg virtual GEMINATE_SIGN_TILD
  \beg class TILD_INF_XS
    TELCO
    ARA
    HALLA
  \end
  \beg class TILD_INF_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    TW_EXT_13
    TW_EXT_14
    ROMEN
    ARDA
    SILME
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    URE
    OSSE
    VAIA
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_7
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class TILD_INF_L
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_2
    NUM_3
    NUM_5
    NUM_6
    NUM_9
  \end
  \beg class LAMBE_MARK_TILD
    LAMBE
    ALDA
  \end
\end

\beg virtual NASALIZE_SIGN
  \beg class DASH_SUP_XS
    TELCO
    ARA
    HALLA
  \end
  \beg class DASH_SUP_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    TW_EXT_13
    TW_EXT_14
    ROMEN
    ARDA
    LAMBE
    ALDA
    SILME
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    URE
    OSSE
    VAIA
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_7
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class DASH_SUP_L
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_2
    NUM_3
    NUM_5
    NUM_6
    NUM_9
  \end
\end

\beg virtual NASALIZE_SIGN_TILD
  \beg class TILD_SUP_XS
    TELCO
    ARA
    HALLA
  \end
  \beg class TILD_SUP_S
    TINCO
    PARMA
    CALMA
    QUESSE
    SULE
    FORMEN
    AHA
    HWESTA
    ORE
    VALA
    ANNA
    VILYA
    TW_EXT_11
    TW_EXT_12
    TW_EXT_13
    TW_EXT_14
    ROMEN
    ARDA
    LAMBE
    ALDA
    SILME
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    HWESTA_SINDARINWA
    YANTA
    URE
    OSSE
    VAIA
    VALA_W_HOOK
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_4
    NUM_7
    NUM_8
    NUM_10
    NUM_11
  \end
  \beg class TILD_SUP_L
    ANDO
    UMBAR
    ANGA
    UNGWE
    ANTO
    AMPA
    ANCA
    UNQUE
    NUMEN
    MALTA
    NOLDO
    NWALME
    TW_EXT_21
    TW_EXT_22
    TW_EXT_23
    TW_EXT_24
    MALTA_W_HOOK
    ANCA_CLOSED
    NUM_2
    NUM_3
    NUM_5
    NUM_6
    NUM_9
  \end
\end

\beg virtual SARINCE
  \beg class SHOOK_LEFT_L
    CALMA
    QUESSE
    ANGA
    UNGWE
    AHA
    HWESTA
    ANCA
    UNQUE
    NOLDO
    NWALME
    ANNA
    VILYA
    TW_EXT_13
    TW_EXT_14
    TW_EXT_23
    TW_EXT_24
    SILME
    HWESTA_SINDARINWA
    OSSE
    VALA_W_HOOK
    ANCA_CLOSED
  \end
  \beg class SHOOK_RIGHT_L
    TELCO
    ARA
    HALLA
    TINCO
    PARMA
    ANDO
    UMBAR
    SULE
    FORMEN
    ANTO
    AMPA
    NUMEN
    MALTA
    ORE
    VALA
    TW_EXT_11
    TW_EXT_12
    TW_EXT_21
    TW_EXT_22
    ROMEN
    ARDA
    LAMBE
    ALDA
    SILME_NUQUERNA
    SILME_NUQUERNA_ALT
    ESSE
    ESSE_NUQUERNA
    HYARMEN
    YANTA
    URE
    VAIA
    MALTA_W_HOOK
    SHOOK_BEAUTIFUL
    HARP_SHAPED
    AHA_TINCO
    HWESTA_TINCO
    NUM_0
    NUM_1
    NUM_2
    NUM_3
    NUM_4
    NUM_5
    NUM_6
    NUM_7
    NUM_8
    NUM_9
    NUM_10
    NUM_11
  \end
\end

